@model QR_Code_Maker.Models.QRCode

@{
    ViewData["Title"] = "Read";
}

<div class="text-center">
    <div style="width: 60%; margin: auto;">
        <form asp-action="Index" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="text" value="temp" />

            <div class="form-group row" style="justify-content: center; margin-bottom: 0;">
                <label asp-for="File" class="col-form-label">Select a QR Code to Decode</label>
                <div class="input-group mb-2">
                    <div class="custom-file">
                        <input asp-for="File" type="file" class="custom-file-input">
                        <label asp-for="File" class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <div style="padding-left: 0; margin-bottom: 5px;">
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Decode QR Code</button>
            </div>
        </form>

        @if (Model != null && ViewData.ModelState.IsValid)
        {
            <div>
                <h4>Result</h4>
                <hr />
                <div class="form-group row" style="justify-content: center;">
                    <span>Raw Text:</span>
                    <div class="col-sm-10">
                        @if (!string.IsNullOrWhiteSpace(Model.text))
                        {
                            @($"{Model.text}")
                        }
                        else
                        {
                            <span class="text-danger">
                                @($"Error: Unable to decode file. Make sure file is a valid QR Code image")
                            </span>
                        }
                    </div>
                </div>
                <div class="form-group row" style="justify-content: center;">
                    <span>File:</span>
                    <div class="col-sm-10">
                        @($"{Model.File.FileName}")
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        let input = document.querySelector('.custom-file-input');
        input.addEventListener('change', (e) => {
            let fileName = input.files[0].name;
            let label = input.parentNode.querySelector('.custom-file-label');
            label.innerHTML = fileName;
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
