@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="width: 60%; margin: auto;">
        @*<input type="button" class="btn btn-primary btn-lg btn-block"
               value="Create" onclick="location.href='@Url.Action("YourAction", "YourController")'" />
        <input type="button" class="btn btn-secondary btn-lg btn-block"
               value="Read" onclick="location.href='@Url.Action("YourAction", "YourController")'" />*@

        <a class="btn btn-primary btn-lg btn-block" href="@Url.Action("Index","create")">Create</a>
        <a class="btn btn-secondary btn-lg btn-block" href="@Url.Action("YourAction","YourController")">Read</a>
    </div>
</div>
